<%_
  var typeGraph = locals.typeGraph;
  var _ = locals._;
  var stringifyWrappers = locals.stringifyWrappers;
 -%>
<%_ function HtmlId(id) {
  return 'HREF="remove_me_url" ID="' + id + '"';
} -%>
<%_ function TEXT(str) {
  if (str === '')
    return '';
  str = str.replace(/]/, '&#93;');
  return '<FONT>' + str + '</FONT>';
} -%>
<%_ var RELAY_ICON = TEXT('{R}'); -%>
digraph {
  graph [
    rankdir = "LR"
  ];
  node [
    fontsize = "16"
    fontname = "helvetica, open-sans"
    shape = "plaintext"
  ];
  edge [
  ];
  ranksep = 2.0
<%_ _.each(typeGraph.nodes, function(node) { -%>
  "<%- node.name %>" [
    id = "<%- node.id %>"
    label = <<TABLE ALIGN="LEFT" BORDER="0" CELLBORDER="1" CELLSPACING="0" CELLPADDING="5">
      <TR>
        <%_ var kindLabel = node.kind !== 'OBJECT' ? '<<' + node.kind.toLowerCase() + '>>' : '' -%>
        <TD CELLPADDING="4" <%- HtmlId('TYPE_TITLE::' + node.name) %>
          ><FONT POINT-SIZE="18"><%- node.name %></FONT><BR/><%= kindLabel %></TD>
      </TR>
      <%_ _.each(node.fields, function(field) { -%>
      <TR>
        <TD <%- HtmlId(field.id) %>
          ALIGN="LEFT" PORT="<%- field.name %>">
          <TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0">
            <TR>
              <TD ALIGN="LEFT"><%- field.name %><FONT>  </FONT></TD>
              <%_ var parts = stringifyWrappers(field.typeWrappers); -%>
              <%_ var relayIcon = field.relayType ? RELAY_ICON : ''; -%>
              <TD ALIGN="RIGHT"><%- relayIcon %><%- TEXT(parts[0]) %><%- field.type.name %><%- TEXT(parts[1]) %></TD>
            </TR>
          </TABLE>
        </TD>
      </TR>
      <%_ }); -%>
      <%_ if (!_.isEmpty(node.possibleTypes)) { -%>
      <TR>
        <TD>possible types</TD>
      </TR>
        <%_ _.each(node.possibleTypes, function (possibleType) { -%>
      <TR>
        <TD <%- HtmlId(possibleType.id) %>
          ALIGN="LEFT" PORT="<%- possibleType.type.name %>"><%- possibleType.type.name %></TD>
      </TR>
        <%_ }); -%>
      <%_ } -%>
      <%_ if (!_.isEmpty(node.derivedTypes)) { -%>
      <TR>
        <TD>implementations</TD>
      </TR>
        <%_ _.each(node.derivedTypes, function(derivedType) { -%>
      <TR>
        <TD <%- HtmlId(derivedType.id) %>
          ALIGN="LEFT" PORT="<%- derivedType.type.name %>"><%- derivedType.type.name %></TD>
      </TR>
        <%_ }); -%>
      <%_ } -%>
    </TABLE>>
  ];
  <%_ _(node.fields).each(function(field) { -%>
  <%_ if (!typeGraph.nodes[field.type.id]) return; -%>
  "<%- node.name %>":"<%- field.name %>" -> "<%- field.type.name %>" [
    id = "<%- field.id %> => <%- field.type.id %>"
    label = "<%- node.name %>:<%- field.name %>"
  ]
  <%_ }); -%>
  <%_ _(node.possibleTypes).each(function(possibleType) { -%>
  "<%- node.name %>":"<%- possibleType.type.name %>" -> "<%- possibleType.type.name %>" [
    id = "<%- possibleType.id %> => <%- possibleType.type.id %>"
    style = "dashed"
  ]
  <%_ }); -%>
  <%_ _(node.derivedTypes).each(function(derivedType) { -%>
  "<%- node.name %>":"<%- derivedType.type.name %>" -> "<%- derivedType.type.name %>" [
    id = "<%- derivedType.id %> => <%- derivedType.type.id %>"
    style = "dotted"
  ]
  <%_ }); -%>
<%_ }); -%>
}
