<%_ function HtmlId(id) {
  return 'HREF="remove_me_url" ID="' + id + '"';
} %>
digraph "" {
  graph [
    rankdir = "LR"
  ];
  node [
    fontsize = "16"
    fontname = "helvetica, open-sans"
    shape = "plaintext"
  ];
  edge [
  ];
  ranksep = 2.0
<%_ _.each(graph.nodes, node => { -%>
  <%_ var type = node.data; -%>
  "<%- type.name %>" [
    id = "<%- node.id %>"
    label = <<TABLE TOOLTIP="" ALIGN="LEFT" BORDER="0" CELLBORDER="1" CELLSPACING="0" CELLPADDING="5">
      <TR>
        <TD <%- HtmlId(`TYPE_TITLE::${type.name}`) %> ><B><%- type.name %></B></TD>
      </TR>
      <%_ _.each(type.fields, field => { -%>
      <TR>
        <TD TOOLTIP="" ALIGN="LEFT" PORT="<%- field.name %>" <%- HtmlId(`FIELD::${type.name}::${field.name}`) %>>
          <TABLE TOOLTIP="" CELLPADDING="0" CELLSPACING="0" BORDER="0">
            <TR>
              <%_ var fieldType = graph._getFieldType(field).name; -%>
              <TD TOOLTIP="" ALIGN="LEFT"><%- field.name %>  </TD>
              <TD TOOLTIP="" ALIGN="RIGHT"><%- printFieldType(fieldType, field.wrappers) %></TD>
            </TR>
          </TABLE>
        </TD>
      </TR>
      <%_ }); -%>
      <%_ _.each(type.possibleTypes, possibleType => { -%>
      <TR>
        <TD TOOLTIP="" ALIGN="LEFT" PORT="<%- possibleType %>"><%- possibleType %></TD>
      </TR>
      <%_ }); -%>
      <%_ _.each(type.derivedTypes, derivedType => { -%>
      <TR>
        <TD TOOLTIP="" ALIGN="LEFT" PORT="<%- derivedType %>"><%- derivedType %></TD>
      </TR>
      <%_ }); -%>
    </TABLE>>
  ];
  <%_ _(node.edges).filter(['relationType', 'field']).each(edge => { -%>
  <%_ var field = edge.data -%>
  "<%- type.name %>":"<%- field.name %>" -> "<%- edge.to %>" [
    id = "<%- edge.id %>"
    label = "<%- type.name %>:<%- field.name %>"
  ]
  <%_ }); -%>
  <%_ _(node.edges).filter(['relationType', 'union']).each(edge => { -%>
  "<%- type.name %>":"<%- edge.to %>" -> "<%- edge.to %>" [
    id = "<%- edge.id %>"
    style = "dashed"
  ]
  <%_ }); -%>
  <%_ _(node.edges).filter(['relationType', 'interface']).each(edge => { -%>
  "<%- type.name %>":"<%- edge.to %>" -> "<%- edge.to %>" [
    id = "<%- edge.id %>"
    style = "dotted"
  ]
  <%_ }); -%>
<%_ }); -%>
}
