digraph "" {
  graph [
    rankdir = "LR"
  ];
  node [
    fontsize = "16"
    fontname = "helvetica, open-sans"
    shape = "plaintext"
  ];
  edge [
  ];
  ranksep = 2.0
<%_ _.each(types, type => { -%>
  <%_ if (skipType(type)) return; -%>
  <%- type.name %> [
    id = "<%- type._id %>"
    label = <<TABLE TOOLTIP="" ALIGN="LEFT" BORDER="0" CELLBORDER="1" CELLSPACING="0" CELLPADDING="5">
      <TR><TD><B><%- type.name %></B></TD></TR>
      <%_ _.each(type.fields, field => { -%>
        <%_ if (skipField(field)) return; -%>
      <TR>
        <TD TOOLTIP="" ALIGN="LEFT" PORT="<%- field.name %>"> <%- field.name %>:<%- printFieldType(field) %> </TD>
      </TR>
      <%_ }); -%>
    </TABLE>>
  ];
  <%_ _.each(type.fields, field => { -%>
    <%_ if (skipField(field)) return; -%>
    <%_ var fieldType = getFieldType(field); -%>
    <%_ if (isScalar(fieldType)) return; -%>
  "<%- type.name %>":"<%- field.name %>" -> "<%- fieldType.name %>" [
    label = "<%- type.name %>:<%- field.name %>"
    id = "<%- field._id %>"
  ]
  <%_ }); -%>
<%_ }); -%>
}
