digraph "" {
  graph [
    rankdir = "LR"
  ];
  node [
    fontsize = "16"
    fontname = "helvetica, open-sans"
    shape = "plaintext"
  ];
  edge [
  ];
  ranksep = 2.0
<%_ _.each(nodes, node => { -%>
  <%_ var type = node.data; -%>
  "<%- type.name %>" [
    id = "<%- node.id %>"
    label = <<TABLE TOOLTIP="" ALIGN="LEFT" BORDER="0" CELLBORDER="1" CELLSPACING="0" CELLPADDING="5">
      <TR><TD><B><%- type.name %></B></TD></TR>
      <%_ _.each(type.fields, field => { -%>
      <TR>
        <%_ var fieldType = _.get(node.field_edges[field.name], 'to', field.type) -%>
        <TD TOOLTIP="" ALIGN="LEFT" PORT="<%- field.name %>"><%- field.name %>:<%- printFieldType(fieldType, field.wrappers) %></TD>
      </TR>
      <%_ }); -%>
    </TABLE>>
  ];
  <%_ _.each(node.field_edges, edge => { -%>
  <%_ var field = edge.data -%>
  "<%- type.name %>":"<%- field.name %>" -> "<%- edge.to %>" [
    label = "<%- type.name %>:<%- field.name %>"
    id = "<%- edge.id %>"
  ]
  <%_ }); -%>
<%_ }); -%>
}
