digraph erd {
  graph [
    rankdir = "LR"
  ];
  node [
    fontsize = "16"
    shape = "plaintext"
  ];
  edge [
  ];
<%_ _.each(types, type => { -%>
  <%_ if (skipType(type)) return; -%>
  <%- type.name %> [
    id = "TYPE::<%- type.name %>"
    label = <<TABLE BORDER="0" CELLBORDER="1" CELLSPACING="0">
      <TR><TD><B><%- type.name %></B></TD></TR>
      <%_ _.each(type.fields, field => { -%>
        <%_ if (skipField(field)) return; -%>
      <TR><TD PORT="<%- field.name %>">
        <%- field.name %>
      </TD></TR>
      <%_ }); -%>
    </TABLE>>
  ];
  <%_ _.each(type.fields, field => { -%>
    <%_ if (skipField(field)) return; -%>
    <%_ var fieldType = types[field.type]; -%>
    <%_ if (isScalar(fieldType)) return; -%>
  "<%- type.name %>":"<%- field.name %>" -> "<%- getFieldType(field) %>" [
    id = "FIELD_EDGE::<%- type.name %>::<%- field.name %>"
  ]
  <%_ }); -%>
<%_ }); -%>
}
